.bean-adventure {
  position: relative;
}

.bean-adventure_image {
  width: 100%;
}

.bean-adventure_position-wrapper {
  position: absolute;
  top: 0; right: 0; left: 0; bottom: 0;
  display: flex;
  align-items: center;
} /* Positions below */

.bean-adventure_image-link {
  display: block;
  position: absolute;
  top: 0;
  height: 100%;
  width: 100%;
  z-index: 1;
}

.bean-adventure_image-link:after {
  content: '';
}

.bean-adventure_caption-wrapper {
  display: flex;
  align-items: flex-start;
  width: auto;
  max-width: 45%;
  padding: 1.5rem;
  color: #ffffff;
  background-color: rgba(205, 0, 0, 0.85);
  background-size: 125px;
  z-index: 2;
}

.bean-adventure_arrow {
  width: 5vw;
  min-width: 3rem;
  margin-right: 2vw;
}

.bean-adventure_title {
  margin-bottom: 0;
  font-size: 1.5rem;
  text-transform: uppercase;
  font-weight: bold;
}

.bean-adventure_caption {
  font-size: 1rem;
  padding: 0.5rem 1rem;
  background: #cc0000;
  margin-right: -3rem;
  padding-right: 5rem;
  margin-top: 1rem;
}

a.bean-adventure_button {
  display: inline-block;
  margin-top: 1rem;
  padding: 0.25rem 1rem;
  font-size: 1rem;
  color: #000000;
  background: #f1be48;
  text-decoration: none;
  border-radius: 0.25rem;
}

a.bean-adventure_button:hover,
a.bean-adventure_button:focus {
  background: #ffffff;
}

@media  (max-width: 1700px) and (min-width: 1000px) {
  .bean-adventure_content-wrapper {
    font-size: 1.25vw;
  }
}

@media  (max-width: 999px) and (min-width: 739px) {
  .bean-adventure_caption-wrapper {
    bottom: 10%;
  }

  .bean-adventure_content-wrapper {
    font-size: 1.25vw;
  }
}

/* Positioning options */

.bean-adventure_position-wrapper.bean-adventure_left_top,
.bean-adventure_position-wrapper.bean-adventure_right_top {
  align-items: flex-start;
  padding-top: 10%;
}

.bean-adventure_position-wrapper.bean-adventure_left_bottom,
.bean-adventure_position-wrapper.bean-adventure_right_bottom  {
  align-items: flex-end;
  padding-bottom: 10%;
}

.bean-adventure_position-wrapper.bean-adventure_right_top,
.bean-adventure_position-wrapper.bean-adventure_right_bottom {
  justify-content: flex-end;
}

.bean-adventure_position-wrapper.bean-adventure_center {
  align-items: center;
  justify-content: center;
}

/*
.bean-adventure_caption-wrapper.bean-adventure_left_bottom,
.bean-adventure_caption-wrapper.bean-adventure_right_bottom {
  top: auto;
  bottom: 15%;
}

.bean-adventure_caption-wrapper.bean-adventure_right_top,
.bean-adventure_caption-wrapper.bean-adventure_right_bottom {
  left: auto;
  right: 0;
}

.bean-adventure_right_top .bean-adventure_caption,
.bean-adventure_right_bottom .bean-adventure_caption {
  margin-right: -1rem;
  padding-right: 1rem;
}

.bean-adventure_right_top.bean-adventure_caption-wrapper {
  top: 15%;
}*/

@media (max-width: 1000px) {
  .bean-adventure_caption-wrapper {
    padding: 1rem;
  }
}

@media (max-width: 739px) {
  .bean-adventure_position-wrapper {
    position: static;
    width: 100%;
    margin-bottom: 0 !important;
  }

  .bean-adventure_caption-wrapper {
    width: 100%;
    min-width: 100%;
    background-color: #cc0000;
  }

  .bean-adventure_caption {
    padding: 0;
    background: transparent;
    margin-right: 0;
    padding-right: 0;
    margin-top: 0;
  }
}

/* Kill external link icon */
.bean-adventure a.external:after { display: none !important; }

/* Hide the lie */
input[value="bean_form"] ~ div > .description { display: none; }